.page {
  display: flex;
  min-height: 100vh;
}

.detalhes {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--preto-fundo); /* se tiver variáveis */
}

.imagem-projeto {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 2rem;
  color: var(--branco);
  margin: 0;
}

.descricao {
  font-size: 1.1rem;
  color: var(--branco);
  line-height: 1.6;
}

.tags {
  font-size: 0.95rem;
  color: var(--verde-destaque);
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.codigo h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.autor {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.detalhes {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imagem-projeto {
  width: 100%;
  max-height: 400px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.titulo {
  font-size: 2rem;
  color: var(--branco);
  margin: 0;
}

.descricao {
  font-size: 1.1rem;
  color: var(--branco);
  line-height: 1.6;
}

.tags {
  font-size: 0.95rem;
  color: var(--verde-destaque);
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.codigo h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.autor {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}



/* RESPONSIVO */
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

 .detalhes {
  width: 70%;
  overflow-wrap: break-word; /* evita que textos longos estourem */
}

.conteudo-detalhes {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}


  .imagem-projeto {
    max-height: 300px;
    max-width: 500px;

  }

  .titulo {
    font-size: 1.5rem;
  }

  .descricao {
    font-size: 1rem;
    line-height: 1.4;

  }

  .tags {
    font-size: 0.85rem;
  }

  .codigo h2 {
    font-size: 1rem;
  }

  .autor {
    flex-direction: column;
    align-items: flex-start;
  }
}
