.container-upload-imagem button {
    margin: 16px 0 8px 0;
    background-color: var(--itens-background);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    position: relative;
  }

  .container-upload-imagem button::after {
    content: '';
    background-image: url('/img/arrow_forward2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
  }

  .container-imagem {
    height: 368px;
    padding: 24px 16px;
    background-color: var(--secondary-color);
    border-radius: 8px;
  }

  .main-imagem {
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
  }

  .container-imagem-nome {
    display: flex;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 15px;
  }
